.env
.DS_Store
.pytest_cache/
/algorithms/1704866329413.pdf
/algorithms/nlp-basics/
/data/MNIST/raw/
/temp/
/tools/aws/
/tools/chroma/
/tools/coreml/
/tools/fastapi/
/tools/opencv/
/tools/pillow/
/tools/promptflow/
TODO.md
