.aws_env/
.env
.DS_Store
.pytest_cache/
.venv/
/algorithms/1704866329413.pdf
/algorithms/nlp-basics/
/data/MNIST/raw/
/temp/
/tools/aws_nlp/
/tools/aws_sagemaker/
/tools/aws_vision/
/tools/chroma/
/tools/coreml/
/tools/fastapi/
/tools/onnx/
/tools/openapi/
/tools/opencv/
/tools/pillow/
/tools/promptflow/
/tools/yolo/
/use-cases/face-detection/
/use-cases/regression/
/use-cases/sentiment-analysis/
/use-cases/text-summarization/
/use-cases/time-series/
TODO.md
