# include all packages installed by default in Google Colab
beautifulsoup4
ipywidgets
jax[cpu]
lightgbm[scikit-learn]
matplotlib
mlxtend
numpy
opencv-python
pandas
Pillow
pydantic
python-dotenv
scikit-learn
scipy
seaborn
spacy
statsmodels
tensorflow
tf-keras # required for transformers
torch
torchvision
tqdm
transformers
xgboost
