# additional index for torch cpu
--extra-index-url https://download.pytorch.org/whl/cpu
# include all packages installed by default in Google Colab
beautifulsoup4
ipywidgets
jax
lightgbm[scikit-learn]
matplotlib
mlxtend
numpy
opencv-python
pandas
Pillow
pydantic
python-dotenv
scikit-learn
scipy
seaborn
spacy
statsmodels
tensorflow
tf-keras # v2 is still required for transformers: https://github.com/huggingface/transformers/pull/28588
torch
torchvision
tqdm
transformers
xgboost
yellowbrick